body {
  padding-top: 51px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 3.2em;
  font-weight: 900;
  letter-spacing: -1.5px;
  text-shadow: 3px 3px #CCCCCC;
  color: #333;
}

h1.mobile {
  font-size: 2.4em;
}

h2 {
  font-size: 2.8em;
  font-weight: 900;
  letter-spacing: -1.5px;
  text-shadow: 3px 3px #CCCCCC;
  color: #333;
}

h2.mobile {
  font-size: 1.8em;
}

h3 {
  font-size: 2.4em;
}

h3.mobile {
  font-size: 1.4em;
}

p {
  font-size: 1.4em;
  font-weight: 400;
}

p.mobile {
  font-size: 1.2em;
  font-weight: 400;
}

div#header.navbar {
  background-image: linear-gradient(to bottom, #000066 0px, #000033 100%);
  border-color: #000033;
  padding: 4px 0;
}

div#header:not(.md) ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;    
}

div#header div#header-top {
  width: 100%;
  height: 55px;
  background-image: linear-gradient(to bottom, #00002A 0px, #000005 100%);
  border-color: #000005;
}

div#header-top .row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto; 
}

a#header-logo {
  font-family: arial;
  font-weight: 500;
  font-size: 2.1em;
  letter-spacing: -2px;
}

div#header .navbar {
  margin-bottom: 0;
}

div#header div.navbar-header > a,
div#header ul.navbar-nav > li > a {
  color: #C5C5E3;
}

div#header ul.navbar-nav > li > a {
  font-size: 1.3em;
}

div#header div.navbar-form > button {
  margin: -3px 0;
  height: 39px;
  width: 137px;
  font-size: 1.4em;
  line-height: 1.0em;
}

div#header ul.navbar-nav > li > a:hover,
div#header ul.navbar-nav > .oepn > a {
  background-image: linear-gradient(to bottom, #00009D 0px, #00005A 100%);
}

div#header div.navbar-header > a:hover,
div#header ul.navbar-nav > li > a:hover {
  color: #EEEEFF;
}

div#header.md #header-logo {
  font-size: 1.5em;
}

div#header.md ul.navbar-nav > li > a {
  font-size: 0.9em;
}

div#header.md div.navbar-form > button {
  margin: 0 0;
  height: 34px;
  width: 120px;
  font-size: 1.2em;
  line-height: 1.0em;
}

.theme-dropdown .dropdown-menu {
  display: block;
  margin-bottom: 20px;
  position: static;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.bs-content-left {
  background-image: linear-gradient(to bottom, #0A1172 0px, #181F80 100%);
  background-repeat: repeat-x;
  color: #DADADA;
  padding: 80px 15px;
  position: relative;
  text-align: left;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.bs-content-right {
  background-repeat: repeat-x;
  color: #333333;
  padding: 80px 15px;
  position: relative;
  text-align: left;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.bs-content h1 {
  font-size: 40px;
}

.bs-content h2 {
  font-size: 22px;
}

.bs-content p {
  font-size: 16px;
}

div.carousel-inner {
  /* background-image: linear-gradient(to bottom, #00115C 0px, #000B3F 100%); */
  background: #FFF;
}

.large-button  {
  display: block;
  width: 255px;
  height: 52px;
  display: block;
  font-size: 2.0em;
  margin: 13px auto;
}

/* sign in form */
/*
div#signin-form .modal-content {
}

div#signin-form .modal-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: linear-gradient(to bottom, #E7E7E7 0px, #CECECE 100%);
  color: #000033;
  border: 1px solid #BABABA;
  text-align: center;
  font-size: 2.5em;
}

div#signin-form .modal-body {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* background-image: linear-gradient(to bottom, #000033 0px, #000021 100%); */
/*
  background-image: linear-gradient(to bottom, #00007C 0px, #000033 100%);
  border: 1px solid #000033;
  color: #CDCDCD;
}
*/

#invalid-message-signup {
  display: block;
  text-align: center;
  font-size: 1.2em;
  color: #F00;
  margin: 0 0 13px;
}

/* get started form */
//@media (min-width: @screen-sm-min) //768px
div.forms-general {
  width: 500px;
  font-size: 1.3em;
}

div.forms-general .modal-dialog{
  //width: 500px; //must have wider size
}

div.forms-general .modal-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: linear-gradient(to bottom, #0088cc, #0055cc);
  border: 1px solid #6D6DCB;
  text-align: center;
  color: #D1D1D1;
}

div.forms-general .modal-header h4 {
  font-size: 2.6em;
}

div.forms-general .modal-body {
  position: relative;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: linear-gradient(to bottom, #E7E7E7 0px, #CECECE 100%);
  border: 1px solid #BABABA;
  color: #000033;
}

div.forms-general .inputarea {
  height: 250px;
}

div.forms-general .form-group {
  margin: 10px 0 0;
}

div.forms-general .form-group a {
  font-size: 1.3em;
}

div.forms-general .modal-dialog{
  margin-top: 80px;
}

div.forms-general .form-control:not(textarea) {
  height: 40px;
}

div.forms-general textarea.form-control {
  margin: 18px 0;
}

div.forms-general input,
div.forms-general textarea {
  font-size: 1.4em;
}

div.forms-general .modal-body dl.list-line {
  list-style: none;
  padding: 0 0;
}

div.forms-general button {
  width: 100%;
  height: 52px;
  font-size: 2.0em;
}

div.forms-general .modal-body dl.list-line {
  float: left;
}

div.forms-general label {
  font-size: 1.5em;
}

div.forms-general label.control-label {
  font-weight: 400;
}

div#get-started-subform-enquiry .modal-body dl.list-line {
  width: 38%;
}

div#get-started-subform-enquiry .modal-body dl.list-line.narrow {
  width: 24%;
}

div#get-started-subform-enquiry .modal-body dl.list-line.mobile,
div#get-started-subform-enquiry .modal-body dl.list-line.narrow.mobile {
  float: none;
  width: 100%;
}

div#get-started-subform-enquiry .inputarea.mobile {
  height: auto;
}

div#get-started-subform-enquiry .modal-body dl.list-line.narrow {
  width: 24%;
}

div.get-started-progress {
  width: 100%;
  height: 40px;
  font-size: 1.2em;
}

div.get-started-progress ul {
  width: 230px;
  margin: 0 auto;
  padding: 0 0;
}

div.get-started-progress ul li {
  list-style: none;
  float: left;
  margin: 0 5px 0 0;
  font-size: 1.2em;
  color: #9C9C9C;
}

div.get-started-progress ul li.current {
  float: left;
  color: #40B242;
}

div.get-started-progress ul li {
  float: left;
}

div.forms-general .modal-body dl.list-line dd {
  margin-right: 10px;
}

div.forms-general .centercontent {
  text-align: center;
}

div.forms-general .centercontent img {
  width: 100%;
  height: auto;
}

div.forms-general p {
  font-size: 2.3em;
}

div.forms-general .modal-body dl.list-line dd.aligned {
  float: left;
}

span.formsend-message {
  display: block;
  font-size: 1.2em;
  margin: 0 0 13px;
}

span.success {
  color: #5cb85c;
}

span.waiting {
  color: #428bca;
}

div.modal-backdrop {
  background: #CDCDCD;
}

/* footer */

div.footer {
  margin: 0;
  color: #DEDEF1;
  font-weight: 300;
}

div.footer.top {
  background-image: linear-gradient(to bottom, #000066 0px, #000033 100%);
  /* background-image: linear-gradient(to bottom, #00009C 0px, #000044 100%); */
}

div.footer.bottom {
  background-image: linear-gradient(to bottom, #00002A 0px, #000005 100%);
  /* background-image: linear-gradient(to bottom, #000066 0px, #000033 100%); */
}

div.footer-body {
  /* width: 1085px; */
  width: 90%;
  max-width: 1200px;
  margin: 20px auto 0;
}

div.footer-body .left {
  float: left;
}

div.footer-body .right {
  float: right;
}

div.footer-list {
  width: 20%;
  border: none;
  margin: 6px 0 22px;
}

div.footer-list dl {
  font-size: 1.3em;
  margin: 0 0;
  padding: 0 0 0 15%;
}

div.footer-list dl dt {
  font-size: 1.0em;
  font-weight: 400;
}

div.footer-list dl dd a, 
div.footer-list dl dd span {
  font-size: 0.8em;
  color: #DEDEF1;
  font-weight: 100;
}

div.footer-list dl dd.lined {
  float: left;
}

div.footer-list dl dd.lined:after {
  content: ',\00a0';
}

div.footer.bottom .footer-body {
  height: 27px;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.footer.bottom .footer-list {
  width: 380px;
  margin: 0 0 0 10px;
}

div.footer.bottom img {
  height: 32px;
}

div.footer.bottom img.icon {
  width: 32px;
}

div.footer.bottom a {
  display: block;
  float: left;
  letter-spacing: 1px;
  margin-right: 13px;
  color: #DEDEF1;
}

div.footer.bottom ul {
  list-style: none;
  margin: 4px 0;
}

div.footer.bottom ul li {
  float: left;
  margin: 0 0 0 20px;
}

/* footer image */
div.footerimg-desktop {
  padding: 0 0 0 0;
}

div.footer-logo {
  text-align: center;
  max-width: 280px;
  margin: 0 auto;
}

div.footer-logo img {
  width: 100%;
}

div.footer-social img {
  width: 15%;
}

div.footer-social {
  max-width: 250px;
  text-align: left;
  letter-spacing: 15px;
  margin: 15px auto 0;
}

div.footer-contact {
  max-width: 250px;
  font-size: 0.8em;
  text-align: center;
  margin: 15px auto 0;
}

div.footerimg-mobile {
  text-align: center;
  width: 100%;
}

div.footerimg-desktop img {
  display: inline;
}

/* footer for mobile */

div.footer-mobile div.footer-body {
  width: 100%;
  margin: 0 0;
}

div.footer-mobile div.footer-list {
  width: 100%;
  text-align: left;
  margin: 0;
  font-size: 1.1em;
}

div.footer-mobile div.footer-list dl {
  padding: 0 0;
}

div.footer-mobile div.footer-list dl dt {
  display: block;
  height: 50px;
  padding: 12px 12px;
  font-weight: 400;
  background: #000066;
  border-top: 1px solid #000018;
}

div.footer-mobile div.footer-list dl dt span.toggler {
  display: block;
  font-weight: 300;
}

div.footer-mobile div.footer-list dl dt span.toggler.left {
}

div.footer-mobile div.footer-list dl dt span.toggler.right {
  font-size: 1.2em;
  margin: -8px 0 0;
  letter-spacing: -1px;
}

div.footer-mobile div.footer-list dl dd {
  display: none;
  margin: 0 0;
  padding: 8px 10px;
  background: #000033;
  border-top: 1px solid #000018;
}

div.footer-mobile div.footer-list dl dd a {
  font-weight: 400;
}

div.footer-mobile.bottom div.footer-body {
  height: auto;
}

div.footer-mobile.bottom div.footer-list {
  width: 300px;
  margin: 0 auto;
  height: 25px;
}

div.footer-mobile.bottom div.footer-list.terms {
  margin: 18px 0 0;
}

div.footer-mobile.bottom div.footer-list a {
  display: block;
  float: left;
  letter-spacing: 1px;
  margin: 0 5px;
}

div.footer-mobile.bottom div.footer-list.terms {
  width: 100%;
}

div.footer-mobile.bottom div.footer-list.terms a {
  display: block;
  width: 130px;
  float: left;
  margin: 0 0;
  font-size: 0.7em;
}

div.footer-mobile.bottom div.footer-list.terms a:first-child {
  float: left;
  text-align: left;
  margin-left: 4px; 
}

div.footer-mobile.bottom div.footer-list.terms a:last-child {
  float: right;
  text-align: right;
  margin-right: 4px; 
}


/* clearfix */
.clearfix {
  clear: both;
}

/* modal general */
div.modal-showcase.mobile {
  font-size: 0.7em;
}

div.modal-backdrop {
  background: #1A1A1A;
}

img.modal-showcase-images {
  width: 70px;
  height: 70px;
}

.modal-showcase .modal-dialog, 
.modal-showcase .modal-body {
  border-radius: 10px;
}

.modal-showcase .modal-dialog{
  /* margin-top: 80px; */
  margin: 80px auto 0;
  border-radius: 10px;
  background-color: #222;
  /* width: 745px; */
  width: 95%;
  max-width: 750px;
  text-align: left;
}

.modal-showcase .modal-content {
  background-color: #222;
}

.modal-showcase .modal-body {
  background-color: #222;
  color: #C7C7C7;
}

.modal-showcase .modal-body img {
  width: 100%;
}

.modal-showcase h1 {
  text-shadow: none;
  margin: 30px 0;
  color: #C7C7C7;
}

.modal-showcase p {
  font-size: 1.2em;
  font-weight: 400;
  margin: 31px 0;
}

.modal-showcase div.download-links {
  width: 100%;
  height: 39px;
}

.modal-showcase div.download-links ul {
  list-style: none;
  display: block;
  width: 100%;
  padding: 0 0;
}

.modal-showcase div.download-links h4 {
  font-size: 1.8em;
}

.modal-showcase div.download-links ul li:not(:first-child) {
  margin: 3px 0 0 8px;
}

.modal-showcase div.download-links ul li {
  display: block;
  float: left;
}

.modal-showcase div.download-links img {
  width: 35px;
}

.modal-showcase div.download-links span.in-development {
  display: inline;
  font-size: 1.7em;
  font-style: italic;
  line-height: 1.7em;
  color: yellow;
}
