.header-shelf {
  width: 100%;
  height: 183px;
  background: url('img/shelf.png') repeat-x ;
  margin: 0;
  border: none;
  position: fixed;
  z-index: 100;
}

.navbar-header.header-items {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
  float: none;
}

.logo-link {
  width: 100%;
}

.logo {
  margin: 0 auto;
  display: block;
}

.airplain {
  padding: 18px 0;
}

.airplain h3 {
  margin: 0;
}

.airplain-line {
  width: 196px;
}

#content-body {
  background: #a8b9c3; /* Old browsers */
  background: -moz-linear-gradient(top,  #a8b9c3 0%, #c6d3da 15%, #c6d3da 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a8b9c3), color-stop(15%,#c6d3da), color-stop(100%,#c6d3da)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a8b9c3 0%,#c6d3da 15%,#c6d3da 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a8b9c3 0%,#c6d3da 15%,#c6d3da 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a8b9c3 0%,#c6d3da 15%,#c6d3da 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a8b9c3 0%,#c6d3da 15%,#c6d3da 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8b9c3', endColorstr='#c6d3da',GradientType=0 ); /* IE6-9 */
  margin-top: 183px;
  z-index: 1;
  position: relative;
}

footer {
  width: 100%;
  height: 90px;
  background: #787E81;
  text-align: center;
  padding: 34px 0 0;
  color: #FFF;
}


/* mobile */
@media (max-width: 767px) {

  .header-shelf {
    position: static;
  }

  #content-body {
    margin-top: 0;
  }
  
}
