.home-container {
  width: 80%;
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

.label {
  position: absolute;
  top: 48px;
  width: 100%;
  text-align: center;
  z-index: 4;
}

@media (max-width: 520px) {
 
  .label img {
    width: 100%;
  } 

}

.window {
  width: 250px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

.window-frame.outer,
.window-frame.inner {
  position: absolute;
  width: 100%;
  height: 100%;
}

.window-frame.outer {
  background: url('img/window-outer.png') no-repeat;
  z-index: 5;
}

.window-frame.cover {
  background-color: #FFF;
  opacity: 0.8;
  z-index: 4;
  width: 200px;
  height: 40px;
  position: absolute;
  left: 27px;
  top: 39px; 
  border-radius: 100px;
}

.window-frame.cover.open {
  -webkit-animation: openWindow 0.5s;
  -webkit-animation-fill-mode: forwards;
}

.window-frame.cover.closed {
  -webkit-animation: closeWindow 0.5s;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes closeWindow {
    from {
      height: 40px;
    }
    to {
      height: 199px;
    }
}

@-webkit-keyframes openWindow {
    from {
      height: 199px;
    }
    to {
      height: 40px;
    }
}

/*
@keyframes closeWindow {
    from {background: red;}
    to {background: yellow;}
}
*/

.window-frame.inner {
  background: url('img/window-inner.png') no-repeat;
  z-index: 3;
}

.window-content {
  position: absolute;
  width: 165px;
  height: 165px;
  top: 76px;
  left: 48px;
  z-index: 2;
}

.window-body {
  padding-top: 122px;
  padding-bottom: 86px;
}

.window-column {
  margin: 12px 0 25px;
}

.lights {
  position: absolute;
}

.lightbulb {
  /* position: absolute; */
  width: 250px;
  height: 300px;
  margin: 0 auto;
  background: url('img/lightbulb.png') no-repeat scroll top center;
}

.lightbulb img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
