.home-container {
  width: 80%;
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

.label {
  position: absolute;
  top: 48px;
  width: 100%;
  text-align: center;
  z-index: 4;
}

@media (max-width: 520px) {
 
  .label img {
    width: 100%;
  } 

}

.window {
  width: 250px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

.window-frame.outer,
.window-frame.inner {
  position: absolute;
  width: 100%;
  height: 100%;
}

.window-frame.outer {
  background: url('img/window-outer.png') no-repeat;
  z-index: 5;
}

.window-frame.cover {
  background-color: #FFF;
  opacity: 1;
  z-index: 4;
  width: 200px;
  height: 40px;
  position: absolute;
  left: 27px;
  top: 39px; 
  border-radius: 30px;
}

.window-frame.cover.open {
  animation: openWindow 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation: openWindow 0.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: openWindow 0.5s;
  -moz-animation-fill-mode: forwards;
}

.window-frame.cover.closed {
  animation: closeWindow 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation: closeWindow 0.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: closeWindow 0.5s;
  -moz-animation-fill-mode: forwards;
}

@keyframes closeWindow {
    from {
      height: 40px;
    }
    to {
      height: 183px;
    }
}

@keyframes openWindow {
    from {
      height: 183px;
    }
    to {
      height: 40px;
    }
}

@-webkit-keyframes closeWindow {
    from {
      height: 40px;
    }
    to {
      height: 183px;
    }
}

@-webkit-keyframes openWindow {
    from {
      height: 183px;
    }
    to {
      height: 40px;
    }
}

@-moz-keyframes closeWindow {
    from {
      height: 40px;
    }
    to {
      height: 183px;
    }
}

@-moz-keyframes openWindow {
    from {
      height: 183px;
    }
    to {
      height: 40px;
    }
}

.window-frame.inner {
  background: url('img/window-inner.png') no-repeat;
  z-index: 3;
}

.cover-text-inner,
.cover-text-outer {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-style: italic;
  font-size: 1.6em;
  color: #367FBB;
}

.cover-text-inner {
  position: absolute;
  top: 139px;
  z-index: 4;
  width: 100%;
  text-align: center;
}

.cover-text-outer {
  display: block;
  width: 100%;
  text-align: center;
}

.window-content {
  position: absolute;
  width: 169px;
  height: 169px;
  top: 69px;
  left: 40px;
  z-index: 2;
}

.window-body {
  padding-top: 122px;
  padding-bottom: 86px;
}

.window-column {
  margin: 12px 0 25px;
}

.lights {
  position: absolute;
}

.lightbulb {
  /* position: absolute; */
  width: 250px;
  height: 300px;
  margin: 0 auto;
  background: url('img/lightbulb.png') no-repeat scroll top center;
}

.lightbulb img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
